NODE_ENV=DEVELOPMENT # or PRODUCTION
PORT=3001 # server port

BCRYPT_SALT_ROUNDS= # bcrypt salt rounds

# database config
DATABASE_URL=your_database_url # mongodb connection url

# jwt secret
JWT_ACCESS_SECRET=your_jwt_access_secret # jwt access secret
JWT_ACCESS_EXPIRES_IN=1h # jwt access token expiration time
